@model IEnumerable<Client.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Daftar Resep</h1>

<p>
    <a class="bi bi-plus" asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepareTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Step)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepareTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>*@


    <!-- Carousel wrapper -->
    <div id="carouselMultiItemExample"
         class="carousel slide carousel-dark text-center"
         data-mdb-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
@foreach(var item in Model){
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                     class="card-img-top"
                                     alt="resepimage" />
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.RecipeName)</h5>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelitem => item.Description)
                                    </p>
                                    <div class="btn btn-outline-primary" data-toogle="modal" data-target="#exampleModalCenter">
                                        @Html.ActionLink("Resep", "Details", new {  id=item.Id  })
                                    </div>
@*                                    <a href="#!" class="btn btn-primary">Button</a>
*@                                </div>
                            </div>
                        </div>
}                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner -->
    </div>
    <!-- Carousel wrapper -->