@model API.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid w-100">
    <div class="p-5 bg-image w-100 shadow-2-strong"
         style="
      background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
      height: 400px;
    ">
        <div class="text-white">
            <a class="btn btn-outline-light btn-rounded btn-floating btn-lg" href="~/Recipe/Index/" role="button"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
    <div class="row mt-5 mb-2">
        <h2 class="text-center">
            @Html.DisplayFor(model => model.RecipeName)
        </h2>
    </div>
    <div class="row mt-2 mb-5">
        <div class="col-sm-12 text-center">
            <h5>Deskripsi</h5>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12 h-100 d-flex flex-row justify-content-center align-items-center">
            <div class="h-100 mx-5 d-flex flex-column justify-content-center align-items-center">
                <i class="far fa-clock fa-2x"></i>
                @Html.DisplayFor(model => model.CookingTime)
            </div>
            <div class="h-100 mx-5 d-flex flex-column justify-content-center align-items-center">
                <i class="fas fa-utensils fa-2x"></i>
                @Html.DisplayFor(model => model.Total)
            </div>
            <div class="h-100 mx-5 d-flex flex-column justify-content-center align-items-center">
                <i class="fas fa-chart-column fa-2x"></i>
                @Html.DisplayFor(model => model.Difficulty)
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-6">
            <h5>Bahan</h5>
            @Html.DisplayFor(model => model.IngredientName)
        </div>
        <div class="col-sm-6">
            <h5>Cara Pembuatan</h5>
            @Html.DisplayFor(model => model.Step)
        </div>
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 text-center">
                <div class="btn btn-outline-primary" data-toogle="modal">
                    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  })
                </div>
                <div class="btn btn-outline-danger btn-link link-danger" data-toogle="modal">
                    @Html.ActionLink("Delete", "Delete", new {  id = Model.Id  })
                </div>
            </div>
        </div>
    }
</div>

